* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  /* height: 100%; */
  background-color: black;
  color: whitesmoke;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
  position: relative;
}

section {
  min-height: 100vh;
  /* border : 1px solid white; */
  position: relative;
  z-index: 2;
}

#canvas-elem::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/background-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
}

#section-1 {
  --gap: 3rem;
  position: relative;

  nav {
    display: flex;
    /* font-size: 5px; */
    align-items: center;
    justify-content: space-between;
    padding: 0.54rem 0.7rem;
    padding-top: 1rem;

    .nav-elem:nth-child(2) {
      font-size: 5px;

      i {
        color: red;
      }

    }

    .nav-elem {
      font-size: 5px;
    }


    svg {
      max-width: 2rem;
      width: 100%;
      height: 100%;
    }
  }

  .middle {
    padding: 1rem;
    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;

    }

    .left {
      display: flex;
      align-items: center;
      justify-content: end;
    }

    h1 {
      font-size: 1rem;
      font-weight: 500;
      line-height: 0.8;
      text-align: right;
    }
  }

  .bottom {
    display: flex;
    gap: var(--gap);

    .left,
    .right {
      width: 50%;
    }

    .right {
      p {
        font-size: 5px;
        font-weight: 100;
        line-height: 1.5;
      }
    }
  }

  .first-line {
    background-color: rgba(255, 0, 0, 0.331);
    width: 6rem;
    height: 0.3px;
    position: absolute;
    transform: rotate(50deg) translate(0, -6rem);

  }

  .second-line {
    background-color: rgba(255, 0, 0, 0.331);
    width: 2rem;
    height: 0.3px;
    position: absolute;
    transform: rotate(135deg);
    top: 26%;
    right: 16%;

  }
}

#section-2 {
  .titles {

    display: flex;
    flex-direction: column;
    padding-left: 8%;
  }

  .title {
    display: flex;
    gap: 1.5rem;
    opacity: 0.4;
    padding-block: 0.5rem;
    transition: all 0.3s linear;


  }

  .title:hover {
    opacity: 1;
    cursor: pointer;
  }

  small {
    margin-top: 0.1rem;
    font-size: 0.2rem;
    letter-spacing: 1;

  }

  h1 {
    font-size: 1rem;
    font-weight: 100;
    line-height: 1;
    ;

  }
}

main:has(#section-2 .title:hover) #canvas-elem::after {
  opacity: 0;
}


.images {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* z-index: 2; */


  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }


}

main:has(#section-2 .title[img-title="tomorrowland"]:hover) .images #tomorrowland {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="navy-pier"]:hover) .images #navy-pier {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="msi-chicago"]:hover) .images #msi-chicago {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="phone"]:hover) .images #phone {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="kikk"]:hover) .images #kikk {
  opacity: 1;
  background-color: rgba(1, 15, 92, 0.679);
}

main:has(#section-2 .title[img-title="kennedy"]:hover) .images #kennedy {
  opacity: 1;
  background-color: rgb(4, 7, 24);
}

main:has(#section-2 .title[img-title="opera"]:hover) .images #opera {
  opacity: 1;
  background-color: rgb(176, 4, 4);
}

#section-3 {
  padding-block: 5rem;
  padding-inline: 4rem;
  position: relative;
  z-index: 0;
  min-height: initial;

  .top,
  .bottom {
    display: flex;
    gap: 5rem;
    width: 100%;

  }

  .left,
  .right {
    width: 50%;
  }

  .top .left {
    padding-left: 1rem;
  }

  .top .left h3 {
    font-size: 1rem;
    font-weight: 100;
    line-height: 0.8;
    letter-spacing: 0.01rem;
    opacity: 0.6;
    padding-left: 1.4rem;
  }

  .bottom .right {
    display: flex;
  }

  .bottom .right p {
    font-size: 4px;
    line-height: 1.5;
    opacity: 0.5;


  }

}

#section-4 {
  padding-block: 0rem;
  padding-inline: 1rem;
  min-height: initial;

  .top,
  .bottom {
    display: flex;
    gap: 5rem;
    width: 100%;

  }

  .left,
  .right {
    width: 50%;
  }

  .top .left {
    padding-left: 1rem;
  }

  .top .left h3 {
    font-size: 1rem;
    font-weight: 100;
    line-height: 0.8;
    letter-spacing: 0.01rem;
    opacity: 0.6;
    padding-left: 1.4rem;
  }

  .bottom .right {
    display: flex;
  }

  .bottom .right p {
    font-size: 4px;
    line-height: 1.5;
    opacity: 0.5;


  }

}

.footer {
  height: 2rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;

  h1 {
    font-size: 1rem;
    font-weight: 200;
    line-height: 0.8;
    letter-spacing: 0.01rem;
    opacity: 0.6;
    padding-left: 1.4rem;
  }

  p {
    font-size: 4px;
    line-height: 1.5;
    opacity: 0.5;
    padding-left: 1.4rem;
  }
}