*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
#root {
    width: 100%;
    /* height: 100%; */
    background-color: black;
    color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
  position: relative;
}
section{
  min-height: 100vh;
  border : 1px solid white;
  position: relative;
  z-index: 2;
}

#section-1{
  nav{
    display: flex ;
    font-size: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 0.54rem 0.7rem;
    padding-top: 1rem;

    .nav-elem:nth-child(2){
      
      i{
        color: red;
      }
      
    }

      
    
    svg{
      max-width: 2rem;
      width: 100%;
      height: 100%;
    }
  }
  .middle{
    display: flex;
    .left, .right{
     width: 50%;
  
      }
      .left{
        display: flex;
        align-items: center;
        justify-content: end;
      }
      h1{
        font-size: 2rem;
        line-height: 0.8;
        text-align: right;
      }
    }
}