*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html,
#root {
    width: 100%;
    /* height: 100%; */
    background-color: black;
    color: whitesmoke;
}
main{
  position: relative;
}
section{
  min-height: 100vh;
  border : 2px solid white;
  position: relative;
  z-index: 2;
}

#section-1{
  nav{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    padding: 0.54rem 0.7rem;
    

    .nav-elem{
      max-width: 10rem;
      min-height: 2rem;
    }
    svg{
      width: 100%;
      height: 100%;
    }
  }
}